.container{
  width: 500px;
  margin: 0 auto;
  background-color: red;
}
.container .content {

}
.container .content .input-header {

}
.container .content .main-content{

}
.container .content .footer{

}